################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NextAfter.Net/obj
/NextAfter.Net/bin/Debug
/NextAfter.Net.Testing/bin/Debug/netstandard2.0
/NextAfter.Net.Testing/obj
/.vs/NextAfter.Net
