################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NextAfter.Net/obj
/NextAfter.Net/bin/Debug
/NextAfter.Net.Testing/bin/Debug/netstandard2.0
/NextAfter.Net.Testing/obj
/.vs/NextAfter.Net
/NextAfter.Net.Testing/bin/Debug/net470
/.vs/ProjectEvaluation
/.idea/.idea.NextAfter.Net/.idea
/NextAfter.Net.Testing/bin/Debug/net472
/NextAfter.Net.Testing/bin/Debug/net6.0
/NextAfter.Net.sln.bak
